<!doctype html>
<html>
<head><meta charset="utf-8"><title>SSO Google</title></head>
<body>
  {% load socialaccount %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <div class="container">
    <div class="header">
      <div class="logo">PV</div>
      <div>
        <h1>Prodigioso Volcán — SSO Demo</h1>
        <p class="lead">Inicia sesión con Google para ver tu nombre y mantener la sesión</p>
      </div>
    </div>

    <div class="hero">
    {% if user.is_authenticated %}
      <div>
        <div class="user">Bienvenido, {{ user.get_full_name|default:user.username }}</div>
        <div><a class="btn-google" href="{% url 'account_logout' %}">Cerrar sesión</a></div>
      </div>
    {% else %}
      <center>
        <a class="btn-google" href="{% provider_login_url 'google' %}">
          <span class="gicon">🔒</span>
          <span>Iniciar sesión con Google</span>
        </a>
      </center>
    {% endif %}
    </div>

    <div class="footer">Puedes usar tu cuenta de Google para autenticarte de manera segura.</div>
  </div>
  
</body>
</html>